.container {
  width: 1210px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
